body {
    margin: 0;
    text-align: center;
    
}

h1 {
    font-family: 'Sacramento', cursive, serif;
    font-size: 54px;
    color: #40514E;
}
.main-container {
    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}

.cloud1 {
    position: absolute;
    top: 100px;
    right: 200px;

}

.cloud2 {
    position: absolute;
    top: 180px;
    left: 180px;
}